*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(247, 226, 146);
}
h2{
    margin-left: 411px;
}
.main{
    background-color: white;
    width: 418px;
    height: 140px;
    padding: 68px;
    border-radius: 25px;
    margin-left: 385px;
}
.inputfield{
    width: 270px;
    height: 42px;
    border-radius: 4px;
    font-size: 17px;
}
.genbutton{
    margin-left: 16px;
    height: 47px;
    color: white;
    background-color: brown;
}
.checkinput{
    padding: 13px;
    margin-top: 12px;
    width: 375px;
    font-size: 18px;
}
.checkbutton{
    margin-top: 10px;
    width: 404px;
    color: white;
    font-size: 21px;
    background-color: brown;
}