/* ProductCard.css */

.product{
  border:solid 0.2px #ccc;
  margin: 10px;
  padding: 15px;
  padding-bottom: 0;
  transition: box-shadow 0.3s ease;
}

.product:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.product-card {
    cursor:pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 10px; */
    max-width: 250px; /* Set maximum width for the card */
  }

.showCategories{
    display: flex;
    flex-wrap: wrap;
}
  
  .product-image img {
    width: 200px; /* Square image with a fixed width */
    height: 200px;
    object-fit: cover; /* Maintain aspect ratio */
    border-radius: 5px; /* Rounded corners for the image */
  }
  
  .product-info {
    text-align: center;
  }
  
  .product-name {
    font-size: 1.4rem;
    font-weight: bold;
  }
  
  .product-price {
    font-size: 1.4rem;
    font-weight: bold;
    color: #4caf50;
  }
  
  .btn-addcart{
    height: 3rem;
    width: 115%;
  }