.cart-icon {
  position: relative;
  cursor: pointer;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 12px;
}

.hover-bg:hover {
  background-color: lightgreen; /* Change this to the desired background color on hover */
}

/* ul > li > .stylecolor {
  font-size: xx-large;
  color: brown;
} */
