.toogle-account{
    margin-top: 75px;
    margin-bottom: 20px;
    /* padding-left: 30px; */
    display: flex;
    justify-content: left;
}

.toogle-account>button{
    color: #62ccbb;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background: none;
    margin-left: 20px;
}

.button.active {
    border-bottom: 1px solid #62ccbb;
  }

  .button:hover{
    font-size: 25px;
  }

  .cart-product{
    display: flex;
    flex-direction: column;
  }

  .cart-top{
    border: 1px solid #62ccbb;
    padding: 1%;
    background-color: #62ccba87;
    display: flex;
    justify-content: space-between;
  }

  @media (max-width:645px) {
    .cart-top{
        padding-left: 5px !important;
        padding-right: 5px !important;
        margin-left: -2%;
        margin-right: 2%;
        padding: 0;
    }
  }