.main-blog-div{
    height: fit-content;
}

.header-div{
    z-index: 10;
    width: 97%;
    position: absolute;
}


.top-div{
    width: 100%;
    display: flex;
    flex-direction: row;
    z-index: 10;
}

.left-side{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.left-side>img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.txt-in-img{
    position: absolute;
    margin-left: 50px;
    margin-top: 33vh;
}

.txt-in-img>h1{
    text-align: left;
    font-weight: bold;
}

.Video,.ryt-down>img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.right-side{
    width: 60%;
    height: 100vh;
}

.ryt-top,.ryt-down{
    height: 50vh;
    background-color: rgb(217, 191, 191);
    overflow: hidden;
}

.ryt-top{
    display: flex;
}


/* middle structure */

.middle-div{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col,.col-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #62ccb6;
    margin-left: 30px;
    width: 12rem;
    height: 35rem;
}

.col-img>img{
    width:inherit;
    height:inherit;
}

.col-txt-div{
    /* background-color: green; */
    display: flex;
    flex-wrap: wrap;
    width: inherit;
}

.col-txt-div>h1{
    display: flex;
    flex-wrap: wrap;
}

.col>img{
    width: 12rem;
    height: 11rem;
}


/* bottom sturcture */

.btm-main-div{
    margin-bottom: 60px;
    display: flex;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    justify-content: center;
    margin-top: 50px;
    height: fit-content;
}

.btm-left{
    display: flex;
    flex-direction: column;
    width: 50vw;
    justify-content: center;
}

.btm-top>img{
    padding: 2%;
    width:100%;
    height:100%;
    object-fit:cover;
}

.btm-down{
    display: flex;
    justify-content: center;
}

.btm-down>div{
    margin: 10px;
    width: 50vw;
    height: 40vh;
    background-color: #62ccb6;
}

.btm-ryt{
    width: 42.8vw;
    display: flex;
    justify-content: space-around;
}

.tow-col{
    margin: 10px;
    width: 210px;
    height: inherit;
    background-color: #62ccb6;
}

.tow-col>img{
    width: inherit;
    height: 13rem;
}


@media (max-width:820px){
    .top-div{
        flex-direction: column;
    }

    .right-side{
        display: flex;
        flex-direction: row;
        width: 100%;height: inherit;
    }

    .ryt-down,.ryt-top{
        width: 50vw;
        height: inherit;
    }

    .col,.col-img,.tow-col{
        width: 9rem;
        margin-top: 10px;
    }

    .col>img,.tow-col>img{
        width:inherit
    }

    .btm-down>div{
        height: 20vh;
    }

    .tow-col{
        display: flex;
    }

}

@media (max-width:1100px){
    .btm-main-div{
        flex-direction: column !important;
    }
    .btm-left{
        width: 100%;
    }
    .btm-ryt{
        flex-wrap: wrap;
        width: auto;
    }
    .tow-col{
        display: flex;
        flex-wrap: wrap;
        height: 650px;
    }
}
