/* top img css */

.contactus-main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.top-image-container{
    width: inherit;
}

.container{
    padding: 0 !important ;
}
.image-container-txt{
    position: absolute;
    width: 20rem;
    text-align: left;
    color: whitesmoke;
    margin: 40px;
    height: inherit;
    bottom: 0;
}

#main-plant-img{
    width: inherit;
    max-height: 100vh;
}

.image-container-txt>h1{
    font-weight: bolder;
}


#main-plant-img{
    width: inherit;
}

/* middle contact us css */


/* left side */
.contact-info-main{
    display: flex;
}

.contact-info-main>div{
    margin-top: 5%;
    width: 50%;
}

.layout{
    width: 100%;
    position: relative;
}

.contact-info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: #62ccbb solid 1px;
}
.contact-info-container>h4{
    padding-left: 9%;
    margin-right: auto;
    color: #62ccbb;
}

.form{
    display: flex;
    flex-wrap: wrap;
}

.input-container>div>input{
    margin-top: 20px;
    outline: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    width: 17vw;
    margin-left: 30px;
}

#message::placeholder,.input-container>div>input::placeholder{
    color: black;
    font-weight: bold;
}

.input-container>div{
    margin-top: 10px;
}

.input-container{
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#message{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    width: 100%;
    margin-left: 10%;
    margin-right: 5%;
    height: 6rem;
    outline: none;
}

#submit-form{
    margin-top: 10px;
    margin-left: auto;
    margin-right: 5%;
    width: 6rem;
    height: 3rem;
    border-radius: 10%;
    border: none;
    color: white;
    background-color: #62ccbb;
}

/* right side */

.contactus-container{
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-left: 50px;
}

.contactus-container>div{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 20px;
}

.contactus-container>div>span{
    display: flex;margin-top: 12px;
}

.contactus-container>div>h4{
    margin-right: auto;
    /* float: left; */
}

.contactus-container>div p{
    color: #62ccbb;
}

.contactus-container>div>span>p{
    margin-left: 10px;
    margin-top: 10px;
}

#social-media-icons>img{
    margin-left: 15px;
}

#icon-email,#phone-id{
    background-color: #62ccbb;
    border-radius: 50%;
    size: 3rem;
    width: 2.5rem;
    height: 2.5rem;
    padding: 4px;
    color: white;
}

@media (max-width:820px){

    .image-container-txt>h1{
        font-size: 7vw;
    }


    .image-container-txt>p{
        font-size: 3vw;
    }

    .contact-info-main{
        flex-direction: column;
        padding: 0;
        margin: 0;
        border: none;
    }

    .contact-info-main>div{
        width: 85%;
        border: none;
    }

    .input-container>div>input{
        width: 30vw;
        margin-right: 15px;
    }

    /* middle right side */

    .contactus-container>div{
        justify-content: center;
        margin-right: 50px;
    }
    
    .contactus-container>div>h4,.contactus-container>div>p{
        margin: 0;
        text-align: center;
    }

    .contactus-container>div>span{
        justify-content: center;
    }

    .faq-main{
        flex-direction: column;
        align-items: center;
    }

    .faq-txt>h1{
        font-size: 8vw !important;
    }

    .map-container iframe{
        background-color: pink;
        width: 100% !important;
    }
    

}

/* map container  */

.map-container {
    position: relative;
    padding:30px;
    height: 70vh;
    width: 100%;
    overflow: hidden;
  }
  
  .map-container iframe {
    top: 0;
    left: 0;
    width: 90%;
    float: left;
    height: 100%;
  }


  /* fAQ section */
  
  .faq-main{
    padding: 30px;
    display: flex;
    text-align: left;
  }

  .faq-main>div{
    width: 39vw;
  }

  .faq-txt>small{
    color: #62ccbb;
    font-weight: bolder;
  }
  
  .faq-txt>h1{
    font-size: 5vw;
    font-weight: 1000;
  }

  .Quations-container>p{
    color: #62ccbb;
  }

  .quations{
    margin-top: 20px;
    color: #62ccbb;
  }


